*, *::before,*::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator-app {
    display: flex;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5, 100px);
    margin-right: 10px;
}

.calculator-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    max-width: 400px;
    padding: 10px;
    height: 200px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
}

.created-history-element {
    padding: 5%;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .current-operand {
    color: white;
    font-size: 1.5rem;
}

